<div class="container">
  <form class="row" [formGroup]="photoForm" (submit)="upload()">
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!arquivoBase64ParaPreview; else preview">
        <input immediateClick type="file" accept="image/*" formControlName="file" (change)="trataPreview($event.target.files[0])" 
          hidden #fileInput >
        <button class="btn btn-primary" type="button" (click)="fileInput.click()">
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <ap-vmessage text="Please, select a photo" 
          *ngIf="photoForm.get('file').errors?.required"></ap-vmessage>
      </div>
      <ng-template #preview>
        <div class="text-center">
          <ap-photo [url]="arquivoBase64ParaPreview" [description]="photoForm.get('description').value" ></ap-photo>
        </div>
      </ng-template>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea class="form-control form-control-sm" placeholder="photo description"
          formControlName="description"></textarea>
        <ap-vmessage text="Maximun of 300 characters" 
        *ngIf="photoForm.get('description').errors?.maxlength"></ap-vmessage>
      </div>

      <div class="form-group">
        <label class="text-muted">Allow comments</label>
        <input class="ml-2" type="checkbox" formControlName="allowComments">
      </div>
      <div *ngIf="!percentDone; else percent">
        <button class="btn btn-primary btn-block" type="submit" [disabled]="photoForm.invalid">Upload</button>
        <a  class="btn btn-secondary btn-block">Cancel</a>
      </div>
      <ng-template #percent>
        <div class="text-center display-4">
          uploading {{percentDone| number:'2.2-2'}} %
        </div>
      </ng-template>

    </div>
  </form>
</div>