<div class="container">
  <form class="row" [formGroup]="photoForm" (submit)="upload()">
    <div class="col-md-6 text-center">
      <input type="file" accept="image/*" formControlName="file" (change)="arquivo = $event.target.files[0]" 
        hidden #fileInput>
      <button class="btn btn-primary" type="button" (click)="fileInput.click()">
        <i class="fa fa-image fa-4x align-middle"></i>
      </button>
      <ap-vmessage text="Please, select a photo" 
        *ngIf="photoForm.get('file').errors?.required"></ap-vmessage>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <textarea class="form-control form-control-sm" placeholder="photo description"
          formControlName="description"></textarea>
        <ap-vmessage text="Maximun of 300 characters" 
        *ngIf="photoForm.get('description').errors?.maxlength"></ap-vmessage>
      </div>

      <div class="form-group">
        <label class="text-muted">Allow comments</label>
        <input class="ml-2" type="checkbox" formControlName="allowComments">
      </div>

      <button class="btn btn-primary btn-block" type="submit" [disabled]="photoForm.invalid">Upload</button>

      <a class="btn btn-secondary btn-block">Cancel</a>
    </div>
  </form>
</div>