<div class="bg-white border" *ngIf="(foto$ | async) as foto">
  <div class="row">
    <div class="col-lg-8">
      <ap-photo [url]="foto.url" [description]="foto.description"></ap-photo>
    </div>

    <div class="col-lg-4">
      <small>
        <p class="text-left break-word">{{foto.description}}</p>
        <hr>
      </small>
      <ap-photo-comments *ngIf="foto.allowComments; else warning" [photoId]="photoId"></ap-photo-comments>
      <ng-template #warning>
        <p>User has disabled comments for this photo</p>
      </ng-template>
    </div>  
  </div>
</div>